<!DOCTYPE html>
<html>
  <head>
    <title>Vue Appp</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <counter v-bind:add-num="5"></counter>
    </div>
    <script>
      var counter = Vue.component("counter", {
        template: `
                    <div>
                        count = {{this.count}}
                        <button v-on:click="increment"> Inc by {{this.addNum}} </button>
                    </div>
                `,

        props: {
          addNum: {
            type: Number,
            default: 1,
          },
        },
        data() {
          return {
            count: 0,
          };
        },
        methods: {
          increment() {
            this.count += this.addNum;
          },
        },
      });
      var app = new Vue({
        el: "#app",
        components: {
          counter,
        },
      });
    </script>
  </body>
</html>
